BODY {
	margin:0px;
	font-family: "Open Sans", Consolas, Helvetica, sans-serif;
	background: #FFF;
	line-height: 1.5;
}

.header {
	background-color: #5e6c9e;
	background-image: linear-gradient(180deg, #131b38 40%, #37426d 80%);
	color: #FFFFFF;
	text-align: center;
	padding: 3rem 6rem 3rem 6rem;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.8);
}

.header .logo {
	width: 90%;
	max-width: 500px;
	filter: drop-shadow(0px 0px 25px rgba(255,255,255,0.5));
}

.header .content {
	position:relative;
	z-index: 1;
}

.main {
	padding: 1rem 1rem;
	max-width: 900px;
	margin: 1rem auto;
}

.main .markdown-body {
	font-family: "Open Sans", Consolas, Helvetica, sans-serif;
	font-size: inherits;
}

a {
	color:#1e6bb8;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.btn {
	display:inline-block;
	margin-bottom:1rem;
	color:rgba(255,255,255,0.7);
	background-color:rgba(255,255,255,0.08);
	border-color:rgba(255,255,255,0.2);
	border-style:solid;
	border-width:1px;
	border-radius:0.3rem;
	transition:color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
	color:rgba(255,255,255,0.8);
	text-decoration:none;
	background-color:rgba(255,255,255,0.2);
	border-color:rgba(255,255,255,0.3);
}

.btn+.btn {
	margin-left:1rem
}

@media screen and (min-width: 64em) {
	.btn {
		padding:0.75rem 1rem;
	}
}

@media screen and (min-width: 40em) and (max-width: 64em) {
	.btn {
		padding:0.6rem 0.9rem;
		font-size:0.9rem;
	}

	.header {
		padding: 1rem 1rem 1rem 1rem;
	}

	.header H2 {
		font-size: 100%;
	}
}

@media screen and (max-width: 40em) {
	.btn {
		display:block;
		max-width:100%;
		padding:0.75rem;
		font-size:0.9rem;
	}

	.btn+.btn {
		margin-top:1rem;
		margin-left:0;
	}

	.header {
		padding: 1rem 1rem 1rem 1rem;
	}

	.header H2 {
		font-size: 100%;
	}
}

.snowflakes {
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left: 0px;
	overflow: hidden;
	z-index: 0;
}

.snowflake {
	color: #fff;
	font-size: 1em;
	font-family: Arial, sans-serif;
	text-shadow: 0 0 5px #fff;
	opacity: 0.7;
}

@-webkit-keyframes snowflakes-fall {
	0%{top:-10%}
	100%{top:100%}
}

@-webkit-keyframes snowflakes-shake{
	0%,
	100%{
		-webkit-transform:translateX(0);
		transform:translateX(0)
	}
	50%{
		-webkit-transform:translateX(80px);
		transform:translateX(80px)
	}
}

@keyframes snowflakes-fall{
	0%{top:-10%}
	100%{top:100%}
}

@keyframes snowflakes-shake{
	0%,
	100%{transform:translateX(0)}
	50%{transform:translateX(80px)}
}

.snowflake {
	position:absolute;
	top:-10%;
	z-index:9999;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	cursor:default;
	-webkit-animation-name:snowflakes-fall,snowflakes-shake;
	-webkit-animation-duration:5s,2s;
	-webkit-animation-timing-function:linear,ease-in-out;
	-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-play-state:running,running;
	animation-name:snowflakes-fall,snowflakes-shake;
	animation-duration:5s,2s;
	animation-timing-function:linear,ease-in-out;
	animation-iteration-count:infinite,infinite;
	animation-play-state:running,running
}

.snowflake:nth-of-type(0){
	left:1%;
	-webkit-animation-delay:0s,0s;
	animation-delay:0s,0s
}

.snowflake:nth-of-type(1){
	left:10%;
	-webkit-animation-delay:1s,1s;
	animation-delay:1s,1s
}

.snowflake:nth-of-type(2){
	left:20%;
	-webkit-animation-delay:6s,.5s;
	animation-delay:6s,.5s
}

.snowflake:nth-of-type(3){
	left:30%;
	-webkit-animation-delay:4s,2s;
	animation-delay:4s,2s
}

.snowflake:nth-of-type(4){
	left:40%;
	-webkit-animation-delay:2s,2s;
	animation-delay:2s,2s
}

.snowflake:nth-of-type(5){
	left:50%;
	-webkit-animation-delay:8s,3s;
	animation-delay:8s,3s
}

.snowflake:nth-of-type(6){
	left:60%;
	-webkit-animation-delay:6s,2s;
	animation-delay:6s,2s
}

.snowflake:nth-of-type(7){
	left:70%;
	-webkit-animation-delay:2.5s,1s;
	animation-delay:2.5s,1s
}

.snowflake:nth-of-type(8){
	left:80%;
	-webkit-animation-delay:1s,0s;
	animation-delay:1s,0s
}

.snowflake:nth-of-type(9){
	left:90%;
	-webkit-animation-delay:3s,1.5s;
	animation-delay:3s,1.5s
}

.snowflake:nth-of-type(10){
	left:25%;
	-webkit-animation-delay:2s,0s;
	animation-delay:2s,0s
}

.snowflake:nth-of-type(11){
	left:65%;
	-webkit-animation-delay:4s,2.5s;
	animation-delay:4s,2.5s
}
